.TeamsPage-team-section {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.8px solid white;
  padding: 20px;
  position: relative;
  margin-top: 40px;
  border-radius: 30px;
  background-color: #202020;
}

.TeamsPage-hexagon-grid {
  background-color: #202020;
}

.TeamsPage-team-section.TeamsPage-right {
  margin-left: 25%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 0px;
  border-right: none;
}

.TeamsPage-team-section.TeamsPage-left {
  margin-right: 25%;
  padding-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
}

.TeamsPage-team-title {
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(to bottom, #964848, #301717); /* Top-down gradient */
  color: white;
  border: 2.5px solid red;
  text-transform: uppercase;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px;
}

.TeamsPage-right .TeamsPage-team-title {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
  justify-content: start;
  padding-right: 50px;
}

.TeamsPage-left .TeamsPage-team-title {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  justify-content: center;
  padding-left: 50px;
}

/* Alignment of different hexagons */
.TeamsPage-team-2 .TeamsPage-hexagon-row {
  display: flex;
  flex-wrap: wrap;
  background-color: #202020;
}

.TeamsPage-team-3 .TeamsPage-hexagon-row {
  display: flex;
  justify-content: center;
  background-color: #202020;
}

.TeamsPage-team-3 .TeamsPage-second-row {
  margin-top: -45px; 
}

.TeamsPage-team-4 .TeamsPage-hexagon-row {
  display: flex;
  width: 470px;
  background-color: #202020;
}

.TeamsPage-team-4 .TeamsPage-second-row {
  margin-left: 107px;
  margin-top: -40px; 
}

.TeamsPage-team-5 .TeamsPage-hexagon-row {
  display: flex;
  justify-content: center;
  background-color: #202020;
}

.TeamsPage-team-5 .TeamsPage-second-row {
  margin-top: -40px; 
}

.TeamsPage-team-2 {
  width: 50%;
}

.TeamsPage-team-3 {
  width: 50%;
}

.TeamsPage-team-4 {
  width: 55%;
}

@media (max-width: 420px) {
  .TeamsPage-team-section {
    width: 95%;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5px;
    margin-top: 0px;
  }

  .TeamsPage-team-section.TeamsPage-right {
    margin-left: 5%;
  }

  .TeamsPage-team-title {
    font-size: 10px;
    font-weight: normal;
  }

  .TeamsPage-right .TeamsPage-team-title {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 1.5px solid red;
    justify-content: center;
    padding: 10px;
  }

  .TeamsPage-left .TeamsPage-team-title {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 1.5px solid red;
    justify-content: center;
    padding: 10px;
  }

  .TeamsPage-team-2 .TeamsPage-hexagon-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
  }

  .TeamsPage-team-3 .TeamsPage-second-row {
    margin-top: -20px; 
  }

  .TeamsPage-team-4 .TeamsPage-hexagon-row {
    display: flex;
    width: 250px;
    background-color: #202020;
  }

  .TeamsPage-team-4 .TeamsPage-second-row {
    margin-left: 60px;
    margin-top: -20px; 
  }

  .TeamsPage-team-5 .TeamsPage-hexagon-row {
    display: flex;
    justify-content: center;
    background-color: #202020;
  }

  .TeamsPage-team-5 .TeamsPage-second-row {
    margin-top: -20px; 
  }

  .TeamsPage-team-2 {
    width: 70%;
  }

  .TeamsPage-team-3 {
    width: 70%;
  }

  .TeamsPage-team-4 {
    width: 70%;
  }
}
