* {
    font-family: 'Goldman', sans-serif;
    margin:0px ;
    padding: 0px;
    /* background-color: black; */
  }
  body{
    overflow-x: hidden;
    margin-bottom: 40px;
  }
  ::-webkit-scrollbar {
    display: none;
  }  