@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Slide Left */
.slide-left-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .slide-left-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  .slide-left-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-left-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  
  /* Slide Right */
  .slide-right-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-right-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  .slide-right-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-right-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  
  /* Center Fade */
  .slide-center-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .slide-center-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  .slide-center-exit {
    opacity: 1;
    transform: scale(1);
  }
  .slide-center-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  